
Linear_Regression/.ipynb_checkpoints/
/Linear_Regression/Exercise/.ipynb_checkpoints
1_Linear_Regression/.ipynb_checkpoints/Linear_regression-checkpoint.ipynb
1_Linear_Regression/Exercise/.ipynb_checkpoints/Canada_per_capita_income-checkpoint.ipynb
/1_Linear_Regression/Exercise/.ipynb_checkpoints
/2_Multivariate_Regression/.ipynb_checkpoints
/3_Grd_Des_N_Cost_Func/Exercise/.ipynb_checkpoints
/2_Multivariate_Regression/Exercise/.ipynb_checkpoints
/4_Save_N_Load/.ipynb_checkpoints
/5_Dummy_Vars_N_One_Hot_Encoding/.ipynb_checkpoints
/5_Dummy_Vars_N_One_Hot_Encoding/Exercise/.ipynb_checkpoints
/6_Split_Data/.ipynb_checkpoints
/7_Logistic_Regression_Binary/.ipynb_checkpoints
/7_Logistic_Regression_Binary/Exercise/.ipynb_checkpoints
/8_Logistic_Regression_Multiclass/Exercise/.ipynb_checkpoints
/8_Logistic_Regression_Multiclass/.ipynb_checkpoints
/9_Decision_Tree/.ipynb_checkpoints
/9_Decision_Tree/Exercise/.ipynb_checkpoints
/10_SVM/.ipynb_checkpoints
/10_SVM/Exercise/.ipynb_checkpoints
/11_Random_Forest/.ipynb_checkpoints
/11_Random_Forest/Exercise/.ipynb_checkpoints
/12_K_Fold_Cross_Validation/.ipynb_checkpoints
/12_K_Fold_Cross_Validation/Exercise/.ipynb_checkpoints
/16_L1_l2_regularization/.ipynb_checkpoints
