
Linear_Regression/.ipynb_checkpoints/
/Linear_Regression/Exercise/.ipynb_checkpoints
1_Linear_Regression/.ipynb_checkpoints/Linear_regression-checkpoint.ipynb
1_Linear_Regression/Exercise/.ipynb_checkpoints/Canada_per_capita_income-checkpoint.ipynb
/1_Linear_Regression/Exercise/.ipynb_checkpoints
/2_Multivariate_Regression/.ipynb_checkpoints
/3_Grd_Des_N_Cost_Func/Exercise/.ipynb_checkpoints
/2_Multivariate_Regression/Exercise/.ipynb_checkpoints
